data/**/database_data
data/**/raw
data/**/estimated_depths/**/*.csv
data/**/*.zip
data/dense_input_radiance_fields/**/runs/**/training/train*/**/*.png
data/dense_input_radiance_fields/**/runs/**/training/train*/**/*.npy
data/dense_input_radiance_fields/**/runs/**/training/train*/**/*.npz
data/dense_input_radiance_fields/**/runs/**/training/train*/**/events*
data/dense_input_radiance_fields/**/runs/**/training/train*/**/saved_models
data/dense_input_radiance_fields/**/runs/**/testing/test*/**/*.png
data/dense_input_radiance_fields/**/runs/**/testing/test*/**/*.mp4
data/dense_input_radiance_fields/**/runs/**/testing/test*/**/*.npy
data/dense_input_radiance_fields/**/runs/**/testing/test*/**/*.npz
data/databases/MipNeRF360/data/raw/unzipped_data/**/images*
data/databases/MipNeRF360/data/raw/unzipped_data/**/sparse
data/databases/MipNeRF360/data/raw/unzipped_data/**/*.npy
data/databases/MipNeRF360/data/raw/unzipped_data/*.txt
runs/**/training/train*/**/*.png
runs/**/training/train*/**/*.npy
runs/**/training/train*/**/*.npz
runs/**/training/train*/**/saved_models
runs/**/training/train*/**/logs
runs/**/training/train*/**/events*
runs/**/testing/test*/**/*.png
runs/**/testing/test*/**/*.mp4
runs/**/testing/test*/**/*.npy
runs/**/testing/test*/**/*.npz
runs/**/testing/test*/**/*.tiff
runs/**/testing/test*/**/logs
tmp/
.idea/
__pycache__/
